## Importing Necessary Libraries

In [2]:
# Libraries for Data manipulation
import numpy as np
import pandas as pd
# Libraries for Data visualization
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# To set the style of the plots. For more styles input plt.style.available
plt.style.use('fivethirtyeight')

## Importing Dataset

In [5]:
df = pd.read_csv('Data/Real-Data/Real_Combine.csv')

## Exploratory Data Analysis (EDA)

### Basic Commands

In [7]:
df.shape

(2232, 9)

In [8]:
df.head()

      T    TM    Tm SLP   H   VV    V   VM   PM 2.5
0  23.4  30.3  19.0   -  59  6.3  4.3  5.4  284.796
1  23.4  30.3  19.0   -  59  6.3  4.3  5.4  284.796
2  23.4  30.3  19.0   -  59  6.3  4.3  5.4  284.796
3  22.4  30.3  16.9   -  57  6.9  3.3  7.6  219.721
4  22.4  30.3  16.9   -  57  6.9  3.3  7.6  219.721

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2232 entries, 0 to 2231
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   T       2232 non-null   float64
 1   TM      2232 non-null   float64
 2   Tm      2232 non-null   float64
 3   SLP     2232 non-null   object
 4   H       2232 non-null   int64
 5   VV      2232 non-null   float64
 6   V       2232 non-null   float64
 7   VM      2232 non-null   object
 8   PM 2.5  2229 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 157.1+ KB

In [15]:
df.describe().T

         count        mean        std   min   25%     50%     75%    max
T       2232.0   24.109677   2.281077  18.9  22.6  23.700   25.30   31.2
TM      2232.0   30.486425   2.836346  22.0  28.4  30.000   32.10   39.2
Tm      2232.0   19.733602   2.227985  12.9  18.7  20.000   20.90   25.8
H       2232.0   65.729839  14.616694  25.0  56.0  69.000   77.00   97.0
VV      2232.0    6.683333   0.670363   4.0   6.3   6.900    6.90    9.2
V       2232.0    3.833737   2.295326   0.0   2.2   3.500    5.20   12.4
PM 2.5  2229.0  108.688474  83.282483   0.0  43.5  81.833  156.25  404.5

In [14]:
df.columns

Index(['T', 'TM', 'Tm', 'SLP', 'H', 'VV', 'V', 'VM', 'PM 2.5'], dtype='object')

### Inspecting all the columns

In [18]:
df['T'].unique()

array([23.4, 22.4, 24. , 22.8, 23.1, 22.9, 22.3, 21.8, 21.6, 21.9, 22.1,
       21.4, 24.6, 23.9, 24.5, 24.3, 24.8, 24.1, 24.7, 25.5, 25.3, 25.4,
       25.8, 27.1, 26.8, 26.9, 28.1, 28.8, 28.5, 27.2, 27.8, 29.9, 29.4,
       29.6, 27.7, 29.2, 27.5, 28.2, 28.9, 28.4, 28.7, 28.3, 28. , 26.1,
       26.3, 26.4, 26.2, 25.2, 27.3, 26.5, 26.6, 23.7, 23.8, 23. , 23.6,
       23.5, 22.6, 22.2, 23.3, 21.3, 22.5, 22. , 23.2, 22.7, 20.7, 24.2,
       21.7, 24.9, 24.4, 21.5, 20.2, 21.2, 20.4, 20.6, 20.8, 19.9, 20.1,
       20.3, 21. , 20.9, 25.6, 27.9, 27.6, 28.6, 25.7, 29.8, 29.3, 27.4,
       25.9, 26. , 21.1, 20. , 19.4, 25.1, 27. , 19.3, 19.1, 26.7, 29. ,
       30.4, 31.2, 30.7, 30.3, 30.5, 25. , 18.9])

In [23]:
df['T'].nunique()

106

In [20]:
df['T'].count()

2232

In [22]:
df['T'].isnull().sum()

0